/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: right; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
  
/*--- custom styles ---*/
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 100;
}

h1 {
  text-transform: uppercase;
  font-size: 26px;
  margin: 30px -30px 20px -30px;
  padding: 15px 30px 15px 23px;
  border-left: 7px solid #eee;
  font-weight: 400;
  color: #444;
}

a {
  color: #307EA9;
}

.posts a {
  text-decoration: underline;
}

.posts {
  margin: 0 0 25px 0;
  padding: 0;
}

.posts li {
  list-style-type: none;
  padding: 7px 5px;
  border-bottom: 1px solid #eee;
}

li {
  font-size: 14px;
  font-weight: normal;  
}

.posts span {
  padding-top: 3px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.content {
  font-size: 20px;
  line-height: 150%;
  margin: 25px 0;
}

.pagination {
  text-align: center;
}